APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost:8081
APP_PORT=8081

ADMIN_USER=admin
# Generate with: php -r "echo password_hash('your_password', PASSWORD_BCRYPT) . PHP_EOL;"
ADMIN_PASS=$2y$10$7yJZwaeIsJ2T3/Gt1lJB0ekWWEJC2iGYJb89cBMFebj3/03T3lu9G

DB_PATH=database/app.sqlite

NPS_PRIMARY_COLOR=#1f6feb
